<ion-header>
  <ion-navbar>
    <ion-title>Pegel: {{ bac.value | number}} ‰</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment>
    <ion-segment-button value="day" (ionSelect)="showDayTable()">
      Tag
    </ion-segment-button>
    <ion-segment-button value="week" (ionSelect)="showWeekTable()">
      Woche
    </ion-segment-button>
    <ion-segment-button value="month" (ionSelect)="showMonthTable()">
      Monat
    </ion-segment-button>
  </ion-segment>

  <!--add swipe gesture-->
  <div class="main-content" (swipe)="swipe($event)">
    <div *ngIf="isShowScheduledTable">
      <ion-list>
        <ion-list-header>
          Reiner Alkohol in Gramm
          <button ion-button clear (click)="showInfo()">Getränke Infos</button>
        </ion-list-header>
        <ion-item *ngFor="let item of entries.slice().reverse()" padding-top>
          <h3>{{ item.category }}</h3>
          <p>{{ item.alc | number }} {{ item.time | date }} </p>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="isShowWeekTable && !isShowScheduledTable">
      <img src="../../assets/imgs/statistic.png" alt="">
    </div>

    <div *ngIf="isShowMonthTable && !isShowScheduledTable">
      <img src="../../assets/imgs/statisticMonth.png" alt="">
    </div>
  </div>
</ion-content>