<ion-header>
  <ion-navbar>
    <ion-title>Pegel: {{ bac.value | number}} ‰</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment>
    <ion-segment-button value="day" (ionSelect)="showDayTable()">
      Tag
    </ion-segment-button>
    <ion-segment-button value="week" (ionSelect)="showWeekTable()">
      Woche
    </ion-segment-button>
    <ion-segment-button value="month" (ionSelect)="showMonthTable()">
      Monat
    </ion-segment-button>
  </ion-segment>

  <!--add swipe gesture-->
  <div class="main-content" (swipe)="swipe($event)">

    <div *ngIf="isShowDayTable && !isShowScheduledTable">
      <img src="../../assets/imgs/statisticDay.png" alt="">
    </div>

    <div *ngIf="isShowWeekTable && !isShowScheduledTable">
      <img src="../../assets/imgs/statistic.png" alt="">
    </div>

    <div *ngIf="isShowMonthTable && !isShowScheduledTable">
      <img src="../../assets/imgs/statisticMonth.png" alt="">
    </div>

    <div *ngIf="isShowScheduledTable">
      <p>Alkoholkonsum:</p>
      <p>TEST: {{ test.component[0].valueQuantity.value }}</p>
      
      
      <ion-list>
        <ion-item *ngFor="let item of entries">
          <p>{{ item }}</p>
          
        </ion-item>
      </ion-list>
    </div>




    <div>
        <button ion-button icon-only (click)="showInfo()">
          <ion-icon name="md-information">
          </ion-icon>
        </button>
      </div>

    <ion-fab bottom center>
      <button ion-fab (click)="changeView()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-fab>

  </div>
</ion-content>