page-home {
    .drinkContainer {
        display: flex;
    }
    .drinkImage {
       
        display:inline-block;
        height: 50px;
        width: 100%;
        
        border-width:2px;
        border-style:solid;
        border-color:white;
    }

}
