page-home {
    .drinkContainer {
        display: flex;
    }
    .drinkImage {
        
        display:inline-block;
        height: 40;
        width: 100%;
        
        
        border-width:2px;
        border-style:solid;
        border-color:white;
    }


    .addButtonContainer {
        display: table;
        text-align: center;
    }

    .addButton {
        display: table-cell; 
        vertical-align: bottom;

    }

    .volume-label {
        font-size: 16pt
        
    }

    .hint {
        color: gray;
    }

    .borderDiv {
        border-style: solid;
        border-width: 2px;
        border-color: orangered;
    }


  
}
