<ion-header>

  <ion-navbar>
    <ion-title>Reaction Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="reactionTime">
    <h2>Your Score: {{ reactionTime }} ms</h2>
  </div>
 
  <button ion-button (click)="startGame()">Start Game</button>

  <div class="playGround" *ngIf="isPlayGame" (click)="stopTime()">

  </div>
 
  <!--
  <div *ngIf="isPlayGame" class="playGround">
      <button ion-button full (click)="stopTime()">Drück mich</button>
  </div>
  -->

</ion-content>
