<ion-header>

  <ion-navbar>
    <ion-title>Reaktionstest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block outline *ngIf="isShowStartButton" (click)="startGame()">
    Meine Reaktionszeit testen</button>

  <p class="tip" text-center *ngIf="isShowStartButton && !reactionTime">Drücke auf den Bildschirm, sobald das farbige
    Feld erscheint</p>

  <div padding-top *ngIf="reactionTime && isShowStartButton && !hasFailed">
    <h4 ion-text text-center>Dein Score: {{ reactionTime }} ms</h4>
  </div>

  <div *ngIf="hasFailed">
    <p class="fail">FAIL</p>
  </div>

  <div class="antiCheatDiv" *ngIf="isShowAntiCheat" (click)="failed()"></div>
  <div class="playGround" *ngIf="isPlayGame" [style.background]="color" (click)="stopTime()"></div>

  <div *ngIf="isShowScore && !isPlayGame">
    <ion-card>
      <ion-card-header text-center style="color: white; background-color: blue">
        Meine erzielten Scores
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let score of scores.slice().reverse()">{{ score.time }} ms mit {{ score.bac | number }} ‰</ion-item>
        <div text-center>
            <button ion-button round outline (click)="hideScore()">Verbergen</button>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>

  
  <div text-center *ngIf="isShowStartButton && !isShowScore">
      <button ion-button clear (click)="showScores()">
        Scores anzeigen
      </button>
    </div>

  <!--
  <div *ngIf="isPlayGame" class="playGround">
      <button ion-button full (click)="stopTime()">Drück mich</button>
  </div>
  -->

</ion-content>