page-reaction {
    .tabButton {
        height: 250px;
    }

    div.antiCheatDiv {
        height: 80%;
        width: 80%;
        background: transparent;
        margin: 0 auto;
    }

    div.playGround {
        height: 80%;
        width: 80%;
        margin: 0 auto;

    }

    .tip {
        color: grey;
        font-size: 130%;
    }

    .fail {
        color: red;
    }

    ion-content {
        margin-top: 25px; 
    }

}
