<ion-header>

  <ion-navbar>
    <ion-title>Reaktions-Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button large block outline *ngIf="isShowStartButton" (click)="startGame()">
    Reaktionszeit jetzt testen</button>

  <p class="tip" text-center *ngIf="isShowStartButton && !reactionTime">Drücke auf den Bildschirm, sobald das farbige
    Feld erscheint</p>

  <div *ngIf="reactionTime && isShowStartButton && !hasFailed">
    <p class="score"> Dein Score: {{ reactionTime }} ms</p>
  </div>


  <div *ngIf="hasFailed">
    <p class="fail">FAIL</p>
  </div>

  <div class="antiCheatDiv" *ngIf="isShowAntiCheat" (click)="failed()"></div>
  <div class="playGround" *ngIf="isPlayGame" [style.background]="color" (click)="stopTime()"></div>

  <ion-fab bottom right>
    <button ion-fab (click)="showScores()">
      <ion-icon name="md-stats"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="isShowScore">
    <ion-card>
      <ion-card-header text-center style="color: white; background-color: blue">
        Deine erzielten Scores
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let score of scores">{{ score }} ms</ion-item>
      <button ion-button round outline (click)="hideScore()">Verbergen</button>
    </ion-card-content>
    </ion-card>
  </div>

  <!--
  <div *ngIf="isPlayGame" class="playGround">
      <button ion-button full (click)="stopTime()">Drück mich</button>
  </div>
  -->

</ion-content>
